<!doctype html>
<html lang="en">


<title><%= title %> </title>
  <head>
  
  </head>
  <body>
    <h1>Star Wars Characters </h1>
    <img src="/images/sample.jpg" class="responsive" />

    <h3>Star Wars characters </h1>
    <% characters.forEach(function(characters){ %>
    <h4> <%= characters.name %> </h4>
     
     
    
    <% }) %>

    <link href="/css/style.css" rel="stylesheet" type="text/css">


  </body>
</html>