<!doctype html>
<html lang="en">


<title><%= title %> </title>
  <head>
  
  </head>
  <body>
    <h2>Star Wars API </h2>
    <img src="/images/starjedi.jpg" style="width:35em; height:35em;" class="responsive" />

    <link href="/css/style.css" rel="stylesheet" type="text/css">


  </body>
</html>