<!doctype html>
<html lang="en">


<title><%= title %> </title>
  <head>
  
  </head>
  <body>
    <h1>Star Wars Free Text Search </h1>
    <div class="w3-card-4">
    <img src="/images/samples.jpg" style="width:30em; height:30em;" class="responsive"  />
    </div>

    <h3>Star Wars Text Search </h1>
    <%  { %>
     
       
    <% } %>

    <link href="/css/style.css" rel="stylesheet" type="text/css">


  </body>
</html>